body {
  font-family: sans-serif;
}
.container .title {
  text-align: center;
  margin-top: 12px;
  margin-bottom: 12px;
}

.step_container {
  padding: 2px;
}
.step_container > div {
  border-radius: 8px;
  /* background-color: rgba(168, 233, 211, 0.795); */
  display: flex;
  border: 1px solid;
  box-shadow: 0.5px 1.1px;
}

.step_container .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
}

.step_container .container .option_row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 8px;
  background-color:#D9EDF7;

}

.step_container .container .option_row .option {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option label {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.option img {
  height: 50px;
  height: 50px;
  margin-bottom: 10px;
}


.option input[type="radio"]{
  margin-top: 10px;
  height: 30px;
  width: 30px;
}

.step_container .container h1 {
  width: 100%;
}
.nav{
  width: 50%;
}

.btn.btn-success {
  color: #fff !important;
  width:100%;
  background-color:  rgb(162, 212, 142);
  border-color:  rgb(162, 212, 142);
}

.btn.btn-success:hover {
  background-color: rgb(162, 212, 142);
  border-color: #DFF0D8;
}
