:root {
  --main-side-padding: 1.5rem;
  --separata: 1.2rem;
  --img-size: 6rem;
  --step-color: #D9EDF7;
  --btn-color: rgb(162, 212, 142);
}

body {
  font-family: sans-serif;
  padding-left: var(--main-side-padding);
  padding-right: var(--main-side-padding);
}

.main_container > div {
  margin-top: var(--separata);
}

.step_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  text-align: center;
  border-radius: 8px;
  background-color: var(--step-color);
  padding: 1rem;
}

.step_container .option_row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: var(--separata);
}

.option_row .option {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option img {
  height: var(--img-size);
  margin-bottom: 0.5rem;
}

.option h5 {
  margin-bottom: var(--separata)
}

.option input[type="radio"]{
  margin-top: 10px;
  height: 30px;
  width: 30px;
}


.btn.btn-success {
  color: #fff !important;
  background-color: var(--btn-color) !important;
  border-color:  var(--btn-color) !important;
}

.btn.btn-success:hover {
  filter: brightness(90%)
}

.btn.btn-success:not(:disabled):not(.disabled):active {
  filter: brightness(110%);
}

.navs_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Globals */

.full {
  width: 100%;
}

.half {
  width: 49.8%;
}
