:root {
  --main-side-padding: 1rem;
  --separata: 1rem;
  --img-size: 6rem;
  --step-color: #D9EDF7;
  --btn-color: rgb(162, 212, 142);
  /* --pedido-item-color: #FCF8E3; */
  --pedido-item-color: #F2DEDE;
  --pedido-item-padding: 1rem;
  --radius: 0.5rem;
  --text-sixe: 0.9rem;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-left: var(--main-side-padding);
  padding-right: var(--main-side-padding);
}

.main_container > div {
  margin-top: var(--separata);
}

.step_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  text-align: center;
  border-radius: var(--radius);
  background-color: var(--step-color);
  padding: 1rem;
}


.step_container .option_row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: var(--separata);
}

/* Label Text */
.option_row label > div {
  width: 100%;
  margin-bottom: var(--separata);
}

.option_row .option {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--text-size);
}

.option img {
  height: var(--img-size);
  margin-bottom: 0.5rem;
}

.option input[type="radio"]{
  margin-top: 10px;
  height: 30px;
  width: 30px;
}

.title {
  font-size: 1.3rem;
}

.btn.btn-success {
  color: #fff !important;
  background-color: var(--btn-color) !important;
  border-color:  var(--btn-color) !important;
}

.btn.btn-success:hover {
  filter: brightness(90%)
}

.btn.btn-success:not(:disabled):not(.disabled):active {
  filter: brightness(110%);
}

.navs_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

navs_container_summary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pedido_row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: var(--separata);
}

.pedido_item {
  font-size: var(--text-size);
  width: 33.32%;
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  padding: var(--pedido-item-padding);
  justify-content: space-between;
  text-align: center;
  background-color: var(--pedido-item-color);
  border: 0.1rem solid #FCF8E3;
  filter: brightness(100%);
}
.summary_container .title {
  margin-bottom: var(--separata);
}

.summary_item {
  /* border: 1px solid var(--pedido-item-color); */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: var(--separata);
  margin-left: 5%;
  width: 90%;
}

.summary_item__label {
  /* border: 1px solid #fff; */
  /* color: #fff; */
  width: 45%;
  text-align: right;
}
.summary_item__value {
  /* border: 1px solid #fff; */
  /* color: #fff; */
  padding-left: 5%;
  text-align: left;
  width: 10rem;
}

.thanks_container {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thanks_container__big_ok {
  margin-top: 3rem;
  border: 3px solid var(--btn-color);
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  background-color: var(--btn-color);
}
.thanks_container__big_ok > img {
  margin-top: 3rem;
  margin-left: 1rem;
  width: 10rem;
}

/* Globals */
.full {
  width: 100%;
  margin-bottom: 0.2rem;
}

.half {
  width: 49.8%;
}
